[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "sketch/Sketch-Plugin-Scripts"]
	path = sketch/Sketch-Plugin-Scripts
	url = git@github.com:makzan/Sketch-Plugin-Scripts.git
[submodule "sketch/Content Generator"]
	path = sketch/Content Generator
	url = git@github.com:timuric/Content-generator-sketch-plugin.git
[submodule ".atom/packages/color-picker"]
	path = .atom/packages/color-picker
	url = git@github.com:thomaslindstrom/color-picker.git
[submodule ".atom/packages/autocomplete-plus"]
	path = .atom/packages/autocomplete-plus
	url = git@github.com:saschagehlich/autocomplete-plus.git
[submodule ".atom/packages/monokai"]
	path = .atom/packages/monokai
	url = git@github.com:kevinsawicki/monokai.git
[submodule ".atom/packages/japanese-wrap"]
	path = .atom/packages/japanese-wrap
	url = git@github.com:raccy/japanese-wrap.git
[submodule ".atom/packages/go-plus"]
	path = .atom/packages/go-plus
	url = git@github.com:joefitzgerald/go-plus.git
