[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "sketch/Sketch-Plugin-Scripts"]
	path = sketch/Sketch-Plugin-Scripts
	url = git@github.com:makzan/Sketch-Plugin-Scripts.git
