"*":
  autocomplete:
    includeCompletionsFromAllBuffers: true
  "autocomplete-plus":
    includeCompletionsFromAllBuffers: true
  core:
    disabledPackages: [
      "metrics"
      "exception-reporting"
    ]
    telemetryConsent: "limited"
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
  editor:
    fontFamily: "Andale Mono"
    fontSize: 12
    invisibles: {}
  "markdown-preview":
    useGitHubStyle: true
  welcome:
    showOnStartup: false
