'core':
  'themes': [
    'atom-dark-ui'
    'atom-dark-syntax'
  ]
'editor':
  'fontSize': 12
  'fontFamily': 'Andale Mono'
'welcome':
  'showOnStartup': false
'exception-reporting':
  'userId': '52b9dc38-c187-c5a4-8dbb-5ffcbeeff4f0'
'metrics':
  'userId': 'aa9be245d4b92d0e2474923f7792c48f57643950'
